body {
    background-color: #FFFFFF;
    color: #757575;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    color: #000000;
}

.logo > span {
    color: #2196F3;
}

/* Header */

/* Site nav */
.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

/* Contact links */
.contacts {
    color: #757575;
}

.contacts:hover,
.contacts:focus {
    color: #2196F3;
}

/* Main */

.title {
    color: #212121;
}

/*цвет заголовков #212121*/
/*цвет текста, телефон и адрес #757575*/
/*акцент #2196F3*/
/* белый #ffffff */
/* фон героя, футера #2F303A */
/* фон меню 2 стр, фон команды, фон меню примеров #F5F4FA */
/* основной фон #E5E5E5 */
/* фон карточек команды #ffffff*/
/* фон примеров работ #EEEEEE */
/* адрес в футере rgba(255, 255, 255, 0.6) */