body {
    background-color: #FFFFFF;
    color: #757575;
}

ul {
    list-style: none;
}

/*цвет заголовков #212121*/
/*цвет текста, телефон и адрес #757575*/
/*акцент #2196F3*/
/* белый #ffffff */
/* фон героя, футера #2F303A */
/* фон меню 2 стр, фон команды, фон меню примеров #F5F4FA */
/* основной фон #E5E5E5 */
/* фон карточек команды #ffffff*/
/* фон примеров работ #EEEEEE */
/* адрес в футере rgba(255, 255, 255, 0.6) */