:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    color: #000000;
}

.logo > span {
    color: var(--accent-color);
}

/* Header */

/* Site nav */
.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Contact links */
.contacts {
    color: var(--primary-text-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

/* Main */

/* Hero */

/* Section */

.title {
    color: var(--title-text-color);
}

/* Portfolio */
.button {
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

/*цвет заголовков #212121*/
/*цвет текста, телефон и адрес #757575*/
/*акцент #2196F3*/
/* белый #ffffff */
/* фон героя, футера #2F303A */
/* фон меню 2 стр, фон команды, фон меню примеров #F5F4FA */
/* основной фон #E5E5E5 */
/* фон карточек команды #ffffff*/
/* фон примеров работ #EEEEEE */
/* адрес в футере rgba(255, 255, 255, 0.6) */